/SimpleVar.class
/base.class
/IntAssign.class
/StrAssign.class
/BooleanAssign.class
/IfAssign.class
/IntAssign.class
/SimpleVar.class
/StrAssign.class
/UnaryAssign.class
/WhileBreak.class
/WhileLoop.class
/base.class
